html {
        font-size: 1.1rem;
        font-family: sans-serif;
}

header {
        display: flex;
        justify-content: space-between;
}

.logout {
        display: inline;
}

form label {
        display: block;
}

.comment-list {
        margin-top: 2rem;
}

.indent {
        margin-left: 3rem;
}

.comment {
        margin-bottom: 1rem;
}

.reply {
        font-size: 0.7rem;
        margin-left: 0.5rem;
}

.delete-post {
        display: inline-block;
        margin-left: 0.5rem;
}

.delete-post, button {
        font-size: 0.7rem;
}

.delete-comment {
        display: inline-block;
        margin-left: 0.5rem;
}

.delete-comment, button {
        font-size: 0.7rem;
}

.reply-form {
        display: none;
}

.votes {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 1rem;
}


.votes a {
        text-decoration: none;
        color: grey;
        margin: 0 auto;
}

.post {
        margin: 1rem 0;
        display: flex;
        align-items: center;
}

.post > div {
}

.small {
        font-size: 0.7rem;
}