html {
        font-size: 1.1rem;
        font-family: sans-serif;
}

.logout {
        display: inline;
}

form label {
        display: block;
}

.comment-list {
        margin-top: 2rem;
}

.indent {
        margin-left: 3rem;
}

.comment {
        margin-bottom: 1rem;
}

.reply {
        font-size: 0.7rem;
        margin-left: 0.5rem;
}

.delete-post {
        display: inline-block;
        margin-left: 0.5rem;
}

.delete-post, button {
        font-size: 0.7rem;
}

.delete-comment {
        display: inline-block;
        margin-left: 0.5rem;
}

.delete-comment, button {
        font-size: 0.7rem;
}


.reply-form {
        display: none;
}

header {
        display: flex;
        justify-content: space-between;
}