{% extends "readit/base.html" %}

{% block content %}
        <div class="profile">
                <h3>
                        {{ profile.username }}

                        {% if is_you %}
                                (you)
                        {% endif %}
                </h3>

                <h4>Posts:</h4>

                {% for post in posts %}
                        {% include "readit/post_partial_for_profile.html" %}
                        
                {% empty %}
                        <p>You have not posted yet.</p>
                {% endfor %}

                <h4>Comments:</h4>

                {% for comment in comments %}
                        <div class="comment">
                                <a href="{% url 'post' comment.post.board.name comment.post.id %}">{{ comment.post.title }}</a>
                                {% if is_you %}
                                        <form class="delete-comment" action="{% url 'delete_comment' comment.id %}" method="post">
                                                {% csrf_token %}
                                                <button>delete</button>
                                        </form>
                                {% endif %}
                                <br>{{ comment.content }}
                        </div>
                {% empty %}
                        <p>You have not commented on anything.</p>
                {% endfor %}
        </div>
{% endblock %}